<md-dialog aria-label="Edit Group" style="width:600px;">
    <form name="form" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Group - {{vm.originalGroupName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon><i class="material-icons">clear</i></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <div layout="column">
                    <md-subheader class="md-primary">Group Information</md-subheader>
                    <md-input-container style="width:220px;">
                        <label>Display Name</label>
                        <input name="displayName" ng-model="vm.group.displayName" required/>
                        <ng-messages for="form.displayName.$error">
                            <ng-message when="required">This field is required</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container>
                        <label>Description</label>
                        <textarea name="description" ng-model="vm.group.description" ng-maxlength="512"
                                  rows="2"></textarea>
                        <ng-messages for="form.description.$error">
                            <ng-message when="maxlength">Must be less than 512 characters</ng-message>
                        </ng-messages>
                    </md-input-container>
                </div>
                <div layout="column">
                    <md-subheader class="md-primary">Members</md-subheader>
                    <md-autocomplete
                            md-items="user in vm.searchUsers(vm.searchText)"
                            md-item-text="user.email"
                            md-selected-item-change="vm.addMember()"
                            md-min-length="3"
                            md-selected-item="vm.selectedUser"
                            md-floating-label="Add a Member"
                            md-search-text="vm.searchText"
                            md-menu-class="mtn-autocomplete"
                            style="width:220px;">
                        <md-item-template>
                            <strong md-highlight-text="vm.searchText" md-highlight-flags="^i">{{user.email}}</strong>
                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">({{user.firstName}} {{user.lastName}})</span>
                        </md-item-template>
                        <md-not-found>
                            <i>No results found...</i>
                        </md-not-found>
                    </md-autocomplete>
                    <div class="members-container" layout="row">
                        <user-chip
                                user="user"
                                on-delete="vm.removeMember"
                                delete-tooltip="Remove Member"
                                ng-repeat="user in vm.group.members | orderBy : 'email'"
                                style="width:250px;">
                        </user-chip>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-warn md-raised container" ng-click="vm.remove()" ng-if="vm.check('GROUPS_DELETE')">
                <span ng-if="vm.deleteTriggered">Confirm</span>
                <span ng-if="!vm.deleteTriggered">Delete</span>
                <named-spinner name="delete"></named-spinner>
            </md-button>
            <span flex></span>
            <md-button class="md-primary md-raised container" type="submit" ng-disabled="form.$invalid">
                Save
                <named-spinner name="save"></named-spinner>
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>