<md-sidenav class="side-nav md-sidenav-left md-whiteframe-4dp" md-is-locked-open="true" style="width:210px;">
    <md-toolbar class="md-accent md-hue-2" style="height:50px; min-height:50px;">
        <h1 class="md-toolbar-tools">Administration</h1>
    </md-toolbar>
    <md-content layout="column">
        <nav-button label="Groups" route="/groups" ng-if="vm.check('GROUPS_READ')"></nav-button>
        <nav-button label="Permissions" route="/permissions" ng-if="vm.check('PERMISSIONS_READ')"></nav-button>
        <nav-button label="Roles" route="/roles" ng-if="vm.check('ROLES_READ')"></nav-button>
        <nav-button label="Users" route="/users" ng-if="vm.check('USERS_READ')"></nav-button>
    </md-content>
</md-sidenav>