<md-dialog aria-label="Add User" flex="60">
    <form name="addUserForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add User</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon><i class="material-icons">clear</i></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding>
            <md-subheader class="md-primary">Profile Information</md-subheader>
            <div layout="row">
                <md-input-container flex="33">
                    <label>Email</label>
                    <input name="email" type="email" ng-model="vm.user.email" required/>
                    <ng-messages for="addUserForm.email.$error">
                        <ng-message when="required">This field is required</ng-message>
                        <ng-message when="email">Must be a valid email address</ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container flex="33">
                    <label>First Name</label>
                    <input name="firstName" ng-model="vm.user.firstName" required/>
                    <ng-messages for="addUserForm.firstName.$error">
                        <ng-message when="required">This field is required</ng-message>
                    </ng-messages>
                </md-input-container>
                <md-input-container flex="33">
                    <label>Last Name</label>
                    <input name="lastName" ng-model="vm.user.lastName" required/>
                    <ng-messages for="addUserForm.lastName.$error">
                        <ng-message when="required">This field is required</ng-message>
                    </ng-messages>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="addUserForm.$invalid">
                Save
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>