<div class="container">
    <div layout="row" layout-align="start center">
        <md-subheader class="md-primary">
            {{vm.permissions.length ? '(' + vm.permissions.length + ') ' : ''}}
            Permissions
        </md-subheader>
        <span flex></span>
        <md-input-container style="width:220px;">
            <label>Filter</label>
            <input ng-model="vm.filter"/>
        </md-input-container>
    </div>
    <md-content class="md-whiteframe-1dp table-container" ng-if="vm.permissions.length">
        <table class="material-table">
            <thead>
            <tr>
                <th>
                    <material-th label="ID" value-ref="id" sort-on="vm.tableOptions.sortColumn"
                                 sort-reverse="vm.tableOptions.sortReverse"></material-th>
                </th>
                <th>
                    <material-th label="Name" value-ref="displayName" sort-on="vm.tableOptions.sortColumn"
                                 sort-reverse="vm.tableOptions.sortReverse" default="true"></material-th>
                </th>
                <th>
                    <material-th label="Description" value-ref="description" sort-on="vm.tableOptions.sortColumn"
                                 sort-reverse="vm.tableOptions.sortReverse"></material-th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable" ng-click="vm.openEditDialog(permission)"
                ng-repeat="permission in vm.permissions | filter: vm.filter | orderBy : vm.tableOptions.sortColumn : vm.tableOptions.sortReverse">
                <td>{{::permission.id}}</td>
                <td>{{::permission.displayName}}</td>
                <td>{{::permission.description}}</td>
            </tr>
            </tbody>
        </table>
    </md-content>
    <div layout="row" layout-align="center center" ng-if="!vm.permissions.length">
        No Results Found
    </div>
    <named-spinner name="permissions"></named-spinner>
</div>