<md-toolbar style="padding-left:0;">
    <div class="md-toolbar-tools" style="padding-left:0;">
        <h2 flex style="margin-left:15px;">MTN Rest Service</h2>
        <span ng-if="vm.user()">{{vm.user().email}}</span>
        <md-button ng-click="vm.login()" ng-if="!vm.user()">
            <md-icon><i class="material-icons">lock_open</i></md-icon>
            Log In
        </md-button>
        <md-button ng-click="vm.logout()" ng-if="vm.user()">
            <md-icon><i class="material-icons">lock</i></md-icon>
            Log Out
        </md-button>
    </div>
</md-toolbar>